
# ───────────────────────────────
#   APPLICATION DEPENDENCIES
# ───────────────────────────────

pywifi
stegano
requests
argparse
tabulate
colorama
pyfiglet
prettytable
python-nmap

# ───────────────────────────────