
# ───────────────────────────────
#   APPLICATION DEPENDENCIES
# ───────────────────────────────

pywifi
stegano
requests
tabulate
colorama
pyfiglet
python-nmap


# ───────────────────────────────