
# ───────────────────────────────
#   APPLICATION DEPENDENCIES
# ───────────────────────────────

pywifi
stegano
requests
argparse
tabulate
colorama
pyfiglet
python-nmap
hashlib


# ───────────────────────────────